body, html {
    background:#fff;
    color:#333;
    font-size:3.125%;
    min-width: 3.2rem;
    text-align: left;
    font-family: "Microsoft YaHei","Helvetica Neue",Arial, HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
    font-weight: normal;
    -webkit-user-select:none;
}
